/***********************************************************************************************
 * Version 0.1
 * ICOOKIE CSS Styling
 *
 * Used to easy load fonts
 ************************************************************************************************/

/* Imports */
@import 'general-variables';

/**
 *  Animation keyframes
 */

@-webkit-keyframes icSlideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes icSlideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes icSlideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes icSlideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

/**
 *  Icookie CSS - Scoped
 */

/* icookie reset using class definition to not force using the id*/ 
.icookie * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;

}

.icookie .fa{
  font: normal normal normal 14px/1 FontAwesome;
}

/* icookie generic css class helpers */
#icookie {
  z-index:1073741823;
}

#icookie .clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#icookie .inline-fix:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#icookie .inline-fix .v-centered {
  display: inline-block;
  vertical-align: middle;
}

/* icookie general styling */
#icookie a{
  color: $ic-brand-color;
}

#icookie .no-content {
  text-align: center;
  padding-top: 120px;
  min-height: 400px;

  i {
    font-size: 100px;
    opacity: 0.1;
  }
}

#icookie .ic-info{
  margin: 0px 20px 20px 20px;
  
  .title{
      font-size: 26px;
      color:$ic-brand-color;
      margin: 30px 0px 5px 0px;
   }
  
  .text {
      line-height: 22px;
      font-size: 15px;
      padding-top: 15px;
  }
}

#icookie .notification{
    padding: 5px 10px;
    border-left: 3px solid #ef5350;
    margin: 10px 15px 10px 15px;
}

/* CSS Animations */
#icookie .icAnimated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#icookie .icSlideInRight{
  -webkit-animation-name: icSlideInRight;
    animation-name: icSlideInRight;
}

#icookie .icSlideOutRight{
  -webkit-animation-name: icSlideOutRight;
    animation-name: icSlideOutRight;
}
