<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= htmlWebpackPlugin.options.title %></title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- JS URL -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.5.0/url.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- JS Cookie -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

	</head>
	<body>
		<style>
			html {
				width: 100%;
				height: 100%;
			}
			body {
				position: relative;
				background: #D6D6D6;
				width: 100%;
				height: 100%;
				margin: 0px;
				padding: 0px;
			}
			#iframe {
				/* display:none; */
				position: absolute;
				top:0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border:none;
			}
		</style>
		<iframe id="iframe" src=""></iframe>

		<div class="container" style="width: 500px;border: 2px solid darkgrey; padding: 0px 30px;position: absolute;left:30px;top:30px;background: rgba(0,0,0,0.3)" >
			<div class="row">
				<h1>Test page icookie</h1>
			</div>
			<div class="row">
				<form class="form-horizontal">
					<fieldset>

						<!-- Button Drop Down -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="background">Background color</label>
							<div class="col-md-8">
								<input id="background" name="background" type="text" placeholder="#FFFFFF" class="form-control input-md">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="website">Background website</label>
							<div class="col-md-8">
								<input id="website" name="website" type="text" placeholder="https://www.tweakers.net" class="form-control input-md">
							</div>
						</div>

						<!-- Button -->
						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button type="button" name="update" class="btn btn-success" onclick="updateConfiguration();">Update configuration</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="row" style="margin-top:30px">
				<form class="form-horizontal">
					<fieldset>

						<!-- Button -->
						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button type="button" class="btn btn-success" onclick="removeCookieConsent();">Remove consent & refresh</button>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button type="button" name="random" class="btn btn-success" onclick="randomBackground();">Random background color</button>
							</div>
						</div>
						<!--
						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button type="button" name="random" class="btn btn-success" onclick="randomWebsite();">Random website</button>
							</div>
						</div>
						-->
					</fieldset>
				</form>
			</div>
		</div>
		<script type="application/javascript">
			var icookieBuildConfig = <%= JSON.stringify(htmlWebpackPlugin.options.config) %>;
		</script>
		<script type="application/javascript">
			var backgroundColor = "#DDDDDD";
			var backgroundUrl = url('?') ? url('?').website :  "";

			loadConfig();

			function updateConfiguration(){
				backgroundColor = jQuery("#background").val();
				backgroundUrl = jQuery("#website").val();
				loadConfig();
			}

			function randomBackground(){
				backgroundColor = getRandomColor();
				backgroundUrl = "";
				jQuery("#background").val(backgroundColor);
				loadConfig();
			}

			function randomWebsite(){
				backgroundUrl = "https://www.theuselesswebindex.com/website/";
				loadConfig();
			}

			function loadConfig(){
				jQuery("body").css("background",backgroundColor);
				jQuery("#iframe").attr("src",backgroundUrl);
			}

			function removeCookieConsent(){
				Cookies.remove(icookieBuildConfig.consent.cookie.name);
				window.location = window.location;
			}

			function getRandomColor() {
				var letters = '0123456789ABCDEF';
				var color = '#';
				for (var i = 0; i < 6; i++) {
					color += letters[Math.floor(Math.random() * 16)];
				}
				return color;
			}
		</script>
		
		<!-- Start 7Tag script code -->
		<script type="text/javascript">
		    (function(window, document, script, dataLayer, id) {
		        window[dataLayer] = window[dataLayer] || [];
		        window[dataLayer].push({
		            '7tag.start': new Date().getTime(),
		            'event': '7tag.js'
		        });
		        var scripts = document.getElementsByTagName(script)[0],
		            tags = document.createElement(script),
		            dl = dataLayer != 'dataLayer' ? '?dataLayer=' + dataLayer : '';
		        tags.async = !0;
		        tags.src = '//7tag.asknow.local/containers/74.js' + dl;
		        scripts.parentNode.insertBefore(tags, scripts)
		    })(window, document, 'script', 'dataLayer', 74);
		</script><noscript><iframe src="//7tag.asknow.local/containers/74/noscript.html" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Tag script code -->
		
		<!-- Production
		<script>
			var _iqsTenant = 157078931;
			var _iqsImpress = { hostAndPort: "liquifier.iqnomy.com", timeout: 5000, extra: false };
	
			(function() {
			var _iqs = document.createElement('script'); _iqs.type = 'text/javascript'; _iqs.async = true;
			_iqs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.iqnomy.com/myliquidsuite/js/IQImpressor.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_iqs, s);
			})();
		</script>
		-->
		
		<!-- TEST -->
		<!--
		<script>
			var _iqsTenant = 2147429759;
			var _iqsImpress = {
				hostAndPort : "liquifier.test.iqnomy.com",
				timeout : 5000,
				extra : false
			};

			(function() {
				var _iqs = document.createElement('script');
				_iqs.type = 'text/javascript';
				_iqs.async = true;
				_iqs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.test.iqnomy.com/myliquidsuite/js/IQImpressor.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(_iqs, s);
			})();
		</script>
		-->
	</body>
</html>