/***********************************************************************************************
* Version 0.1
* ICOOKIE CSS Styling
************************************************************************************************/

/*
 * Styling for the toggle
 */

#icookieToggle {
	position:absolute;
	width:50px;
	height:50px;
	top:0px;
	left:-49px;
	padding: 5px;
	background:rgba(255,255,255,0.6);
	border: 1px solid rgba(0,0,0,0.5);
	border-right:0px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}

#icookieToggle:hover{
	background:rgba(0,0,0,0.1);
	cursor:pointer;
}

#icookieToggle .icookieToggleImg {
	background: url("//static.test.iqnomy.com/icookie/logo.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    
}

/*
 * Styling for the overlay
 */ 
#icookieContent{
	background:rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.5);
	border-right:0px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}
 
